@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Shadows+Into+Light&display=swap');

/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Shadows Into Light', cursive;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    padding: 0 5%;
}

.header-area {
    background: rgb(33, 206, 206);
    color: #fff;
    border-radius: 0 0 150px 0;
}

.navbar .logo a {
    text-decoration: none;
    color: #fff;
}

.navbar .logo h1 {
    font-family: 'Shadows Into Light', cursive, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid;
    position: relative;
}

nav input,
label {
    display: none;
}

nav ul li {
    display: inline-block;
    border-right: 2px solid #fff;
    list-style: none;
}

nav ul li:nth-child(4) {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 0px 12px;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: pink;
}

/* =======================navbar-end================= */

#header-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

#header-content h1 {
    font-size: 40px;
    padding: 20px 0;
}

#header-content p {
    font-size: 18px;
    padding: 15px 0;
}

#header-content button {
    background: linear-gradient(to right, #96271a, #e74c3c);
    border: 0;
    width: 12%;
    margin: 3% auto 0 auto;
    display: block;
    padding: 8px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    transition: all 0.5s;
}

#header-content .button a {
    text-decoration: none;
    color: #fff;
}

#header-content .arrow {
    display: none;
    width: 25%;
}

#header-content button:hover {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#header-content button:hover .arrow {
    display: block;
}



/* =========================header-content-end=================== */

.project-heading {
    padding: 30px 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project {
    flex-basis: 30%;
    border: 1px solid gray;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left center;
}

.project:nth-child(2) {
    transform-origin: center center;
}

.project:nth-child(3) {
    transform-origin: right center;
}

.project:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.project img {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.project-dics {
    padding: 10px;
}

/* =====================projects-end====================== */

#about-section {
    width: 100%;
    padding: 3% 2%;
    margin-top: 1%;
    border-bottom: 2px solid;
    background: rgb(82, 79, 79);
    color: #fff;
    border-radius: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me {
    flex-basis: 50%;
    display: inline-block;
}

#about-section h1 {
    padding: 20px 0;
}

#about-section .social-icon {
    margin-top: 10px;
    font-size: 25px;
    margin-top: 20px;
}

#about-section .social-icon a {
    color: #ecf0f1;
    transition: all 0.5s;
}

#about-section .social-icon a {
    padding-right: 10px;
}

#about-section .social-icon a:nth-child(1):hover {
    color: #39569C;
}

#about-section .social-icon a:nth-child(2):hover {
    color: #DD2A7B;
}

#about-section .social-icon a:nth-child(3):hover {
    color: #26a7de;
}

/* ===========================about-section-end===================== */

.what-new {
    width: 48%;
}

.item-image {
    width: 25%;
    transition: 0.5s;
}

.item-image img {
    width: 100%;
}

.item-image:hover {
    opacity: 0.7;
}

.item-test {
    margin-left: 5%;
    width: 80%;
}

.new-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: gray;
}

/* =======================about-section-end================ */

footer {
    width: 100%;
    background: rgb(224, 210, 210);
    padding: 20px;
    overflow: hidden;
}

.link-area {
    margin-left: 200px;
}

footer ul {
    float: left;
}

footer p {
    display: inline-block;
    width: 50%;
}

footer ul {
    margin-left: 5%;
    width: 10%;
}

footer a {
    display: block;
    padding: 2px 0;
}

footer ul li {
    width: 85%;
    display: block;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #1d1515;
    /* transition: all 0.3s; */
}

footer ul li a:hover {
    color: #DD2A7B;
    border-bottom: 2px solid;
}



/* ================responsive-section=================== */

@media only screen and (max-width:1000px) {
    .container {
        padding: 0 0;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background: rgb(29, 27, 27);
        text-align: center;
        position: absolute;
        top: 100%;
        left: -100%;
        transition: all 0.5s;
    }

    nav label {
        display: block;
        font-size: 22px;
        transition: all 0.5s;
    }

    nav #click:checked~label i::before {
        content: "\f00d";
    }

    nav #click:checked~ul {
        left: 0;
    }

    nav ul li {
        display: block;
        border-right: none;
        padding: 10px;
        transition: 0.5s;
    }

    nav ul li:hover {
        background: red;
    }

    /* =============main header responsive========== */
    #header-content {
        padding: 8% 0;
    }

    #header-content .button {
        width: 25%;
        margin: 10px auto 0;
    }

    #header-content .button:hover {
        width: 32%;
    }

    /* ===============project responsive=========== */
    .project-heading{
        width: 60%;
        margin: auto;
    }
    .project-item{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .project {
        margin: 10px 0;
        border: 1px solid gray;
    }
    .project:nth-child(1),
    .project:nth-child(2),.project:nth-child(3){
        transform-origin: center center;
    }
    /* =======about secton responsive============= */
    .about-me{
        flex-basis: 100%;
    }
    .what-new {
        flex-basis: 100%;
        padding-left: 20px;
    } 

    /* =========footer section responsive======= */
    .link-area {
        width: 100%;
        margin-left: 0;
    }
    footer ul {
        margin-left: 1%;
        padding-top: 2%;
        width: 24%;
    }
    
}